*{
    margin: 0px;
    padding: 0px;
}

/* google font */

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.raleway-primary {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main{
    background-color: #F5F8FF;
}

/* shared style */

.btn-primary{
    background-color: #4E47FF;
    font-weight: bold;
    font-size: 16px;
    padding: 12px 36px;
    border-radius: 5px;
    border: none;
    color: #FFFFFF;
    cursor: pointer
}

/* main{
    max-width: 1140px;
    margin: 0px auto;
} */

/* banner section */

.banner{
    background-image: url(Assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    max-height: 698px;
   

}


/* banner nav bar style */

.nav_bar{
    display: flex;
    /* max-width: 1140px; */
    max-height: 151px;
    justify-content: space-between;
    align-items: center;
    margin: 0px 150px;
    
}
/* banner nav left side */

.nav-logo{
    font-size: 34px;
    font-weight: bold;
    color: #4E47FF;
    font-style: inter;
    font-weight: 900;
    margin: 50px 0px;
}

/* banner title part */

.heading{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 158px 267.5px 0px 267.5px ;
    /* max-width: 905px; */
    max-height: 237px;
    padding-bottom: 152px;

}
.heading_name{
    font-weight: bold;
    font-size: 65px;
    margin-bottom: 37px;
    color: #252432;
    
}

/* action style */

.action{
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 0px 160px 116px 141px;
    max-height: 328px;
    padding-top: 116px;
    
}

/* acton style left side */

.action_left{
    max-width: 517px;
    max-height: 203px;
    margin-right: 220px;
}
.action_left h1{
    font-size: 42px;
    font-weight: bold;
    margin-bottom: 23px;
    color: #252432;
}
.action_left p{
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 23px;
    color: #252432;
    opacity: 50%;
}

/* action style right side */

.action_right_image{
    width: 403px;
    height: 100%;
    border-radius: 48px;
}

/* productive user style */

.productive_user{
    max-height: 306px;
    background-color: #E5E7FF;
    border-radius: 24px;
    margin: 0px 159px 0px 141px;
    padding: 50px 142px;
    text-align: center;
}

/* productive user title */

.productive_user_title{
    font-weight: bold;
    font-size: 38px;
    color: #252432;
    margin-bottom: 40px;
    
}

/* Productive items style */

.productive_items{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.item-title{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    font-family: inter !important; 
}
.item-description{
    font-size: 20px;
    font-weight: 400;
    color: #737380;
}

/* focus better section style */

.focus_better{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFFFFF;
    margin: 137px 149px 0px 151px;
    padding: 71px 150px;
    gap: 20px;
    border-radius: 14px;
}
.focus_better h2{
    font-size: 50px;
    font-weight: bold;
    color: #000000;
}
.focus_better p{
    font-size: 16px;
    font-weight: normal;
    color: #808080;
} 
.focus_better img{
    border-radius: 48px;
}